body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.nav-logo-span {
  color: #2e2f42;
}

.nav-a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-a:hover {
  color: #404bbf;
}

.nav-a:focus {
  color: #404bbf;
}

.address-all {
  font-style: normal;
}

.address-a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-a:hover {
  color: #404bbf;
}

.address-a:focus {
  color: #404bbf;
}

.hero-section {
  background: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.button-hero-section {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
}

.button-hero-section:hover {
  background: #404bbf;
}

.button-hero-section:focus {
  background: #404bbf;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-section {
  background: #2e2f42;
}
